/* Estilos generales */

/* Estilos para el header */
#Container-Header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  background-image: url("/img/background-cereza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2%;
  padding: 2%;
}

/* Estilos para el body */
#Container-Body {
  width: 100%;
  font-family: 'Roboto', sans-serif; /* Fuente Roboto cargada desde Google Fonts */
  background-color: #ffb9e155;
  margin: 0;
  padding: 0;
}

/* Estilos para el titulo */
.title{
  font-size: 3rem;
  color: #540070;
  border-color: rgb(118, 20, 255);
  text-shadow: #333;

}

.logo{
  width: 150px;
}
/* Estilos para la barra de navegación */
.navegador {
  display: flex;
}

/* Ajustes para hacerlo responsive */
.navegador .lista {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.navegador .lista li{
  font-size: 2vw;
  margin-left: 20px;
  margin-right: 20px;
}

.navegador .lista li:hover {
  transform: scale(1.1);
}

.navegador .lista li a {
  color: #430059;
  text-decoration: none;
}

/* Cambio de color al hacer hover */
.navegador .lista li a:hover {
  color: #59455f;
}

/* Estilos para el footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos para el contenido principal */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para las secciones */
section {
  margin-top: 20px;
  text-align: center;
}

/* Estilos para el aside */
aside {
  margin-top: 20px;
  text-align: center;
}
