.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
body{
  
background-repeat: repeat;

}



body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-image: url(/Users/ikki/Desktop/grupal/Pasteleria/img/58e1247c1e98f97b76f30d3c7e90883a.jpg);
  background-repeat: repeat;
  opacity: 0.3; 
}



h1{
   color: rgb(255, 41, 230);

  font-size: 5vw;
  text-align: left;
}


.navegador{
    display: flex;
    margin-right: 2vw;
    justify-content: flex-end;
    margin-top: vw;
   
}

nav ul li a {
  text-decoration: none;
}



nav ul {
    display: flex; 
    list-style-type: none;
    justify-content: flex-end;
   
}


 li  {
  
    font-size: 2vw;
    margin-left: 100px;
    margin-right: 30px;

}



li:hover{
  transform: scale(1.1);
}






li a {
    color: rgb(232, 42, 238);
}


li a:hover{

  color: rgb(255, 0, 162);
  
}





.lista li a::before{
  content: '';
  display: inline-block;
  width: 80px; /* Ancho de la imagen */
  height: 80px; /* Alto de la imagen */
  background-image: url('/Users/ikki/Desktop/grupal/Pasteleria/img/cereza\ gif.gif'); /* Ruta de la imagen */
  background-size: contain;
   margin-left: 5px; /* Espacio entre el texto y la imagen */
  vertical-align: sub;
}





footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}