/* CSS para hacer el formulario responsive y flexible */
.pedido-form {
    width: auto;    
    margin: 5%;
    padding: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pedido-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .pedido-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .pedido-form input[type="text"],
  .pedido-form input[type="email"],
  .pedido-form input[type="tel"],
  .pedido-form select,
  .pedido-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pedido-form .torta-options {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
  }
  
  .pedido-form .torta-options li {
    margin-bottom: 5px;
  }
  
  .pedido-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos adicionales para hacer el formulario flexible */
  .pedido-form fieldset {
    display: flex;
    flex-direction: column;
  }
  
  .pedido-form label {
    flex: 1;
  }
  
  .pedido-form input,
  .pedido-form select,
  .pedido-form textarea {
    flex: 2;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 600px) {
    .pedido-form input,
    .pedido-form select,
    .pedido-form textarea {
      flex: none;
      width: 100%;
    }
  }
  